/* ROOT */
:root{
    --azure-color: #8edafc;
    --acquamarina-color: #009688;
    --darkgray--color: #b1b1b1;
    --lightgray--color: #6c757d;
    --white-primary-color: #eaeaea;
    --white-secondary-color: #fafafa;
    --white-tertiary-color: #f3eeea;
    --green-color: #d5f9ba;
}

/* Generics */
#root{
    height: 100vh;
    background-image: linear-gradient(var(--acquamarina-color) 20%, #dcdbd3 0);

    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 50px;
    border-radius: 50%;
    display: block;
    margin-right: 5px;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

li{
    margin: 0 10px;
}

i {
    cursor: pointer;
}

li > i{
    color: var(--darkgray--color);
    font-size: 1.3rem;
}

header{
    height: 80px;
    background-color: var(--white-primary-color);
}



/* LEFT SIDE */

/* Notifications */
#notifications{
    height: 80px;
    background-color: var(--azure-color);
}

#notifications div:first-child{
    width: 50px;
    height: 50px;
    border-radius: 50%;

    background-color: white;
    color: var(--azure-color);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#notifications div:last-child h5{
    font-size: 1rem;
    margin: 0;
}

#notifications div:last-child p{
    font-size: 0.9rem;
    margin: 0;
    color: var(--lightgray--color);
    text-decoration: underline;
}

/* Search */
#search-bar{
    height: 50px;
    padding: 10px 20px;
    background-color: var(--white-secondary-color);
    position: relative;
}

#search-bar input{
    width: 100%;
    height: 100%;
    font-size: 0.9rem;
    padding-left: 35px;
    border-radius: 10px;
}

#search-bar i{
    position: absolute;
    left: 30px;
    top: 20px;
    transform: translateY(-10%);
    color: var(--lightgray--color);
}


/* Chat */
#chat{
    height: calc(90vh - 210px);
    background-color: white;
    overflow-y: scroll;
}


/* RIGHT SIDE */

/* Header */
.right-side header{
    height: 80px;
    background-color: var(--white-primary-color);
}

.right-side p{
    font-size: 0.8rem;
    margin: 0;
}

/* Section Conversation */
#conversation-box{
    height: calc(90vh - 150px);
    padding: 30px;
    background-image: url(../img/mine.jpg);
    overflow-y: scroll;
}

#conversation-box p{
    padding: 10px;
    border-radius: 25px;
    margin-bottom: 15px;
}

.sent{
    display: flex;
    justify-content: end;
}

.sent p{
    background-color: var(--green-color);
}

.received{
    display: flex;
    justify-content: start;
}

.received > p{
    background-color: white;
}

p > span{
    display: block;
    text-align: end;
    font-size: 0.7rem;
    color:var(--lightgray--color);
}

/* Section Send */
#send-message{
    height: 70px;
    background-color: var(--white-tertiary-color);
    padding: 10px;
}

div input{
    padding: 8px 0;
    border-radius: 10px;
    padding-left: 10px;
}

#send-message i{
    font-size: 25px;
    color: var(--lightgray--color);
}