/* Generics */
#root{
    height: 100vh;
    background-image: linear-gradient(#009688 20%, #dcdbd3 0);

    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 50px;
    border-radius: 50%;
    border: 0;
    display: block;
    background-color: black;
    margin-right: 5px;

}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

li{
    margin: 0 10px;
}

i {
    cursor: pointer;
}

li > i{
    color: #b1b1b1;
}

header{
    height: 80px;
    background-color: #eaeaea;
}



/* LEFT SIDE */

/* Notifications */
#notifications{
    height: 80px;
    background-color: #8edafc;
}

#notifications div:first-child{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 5px;
    background-color: white;
    position: relative;
}

#notifications i{
    color: #8edafc;
    position: absolute;
    bottom: 50%;
    left: 20%;
}

#notifications div:last-child h5{
    font-size: 1rem;
    margin: 0;
}

#notifications div:last-child p{
    font-size: 0.9rem;
    margin: 0;
    color: #6c757d;
    text-decoration: underline;
}

/* Search */
#search-bar{
    height: 50px;
    background-color: #fafafa;
}

#search-bar > input::placeholder{
    font-size: 0.8rem;
    padding-left: 30px;
    color: #6c757d;
}


/* Chat */
#chat{
    height: calc(90vh - 210px);
    background-color: white;
    overflow-y: scroll;
}



/* RIGHT SIDE */

/* Header */
.right-side header{
    height: 80px;
    background-color: #eaeaea;
}

.right-side p{
    font-size: 0.8rem;
    margin: 0;
}

/* Section Conversation */
#conversation-box{
    height: calc(90vh - 150px);
    padding: 30px;
    background-image: url(../img/mine.jpg);
    overflow-y: scroll;
}

#conversation-box p{
    padding: 10px;
    border-radius: 25px;
    margin-bottom: 15px;
}

.sent{
    display: flex;
    justify-content: end;
}

.sent p{
    background-color: #d5f9ba;
}

.received{
    display: flex;
    justify-content: start;
}

.received > p{
    background-color: white;
}

p > span{
    display: block;
    text-align: end;
    font-size: 0.7rem;
    color:#6c757d;
}

/* Section Send */
#send-message{
    height: 70px;
    background-color: #f3eeea;
}

.form-control{
    padding: 12px
}

#send-message i{
    font-size: 25px;
    margin: 0 20px;
    color: #6b7376;
}