/* Generics */
#root{
    height: 100vh;
    background-image: linear-gradient(#009688 150px, #dcdbd3 0);

    display: flex;
    justify-content: center;
    align-items: center;
}


img{
    width: 50px;
    border-radius: 25px;
    border: 0;
    display: block;
    background-color: black;
    margin-right: 5px;

}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

li{
    margin: 0 10px;
}

li > i{
    color: #b1b1b1;
}

header{
    height: 80px;
    background-color: #eaeaea;
}

/* Left Side */

#notifications{
    height: 80px;
    background-color: #8edafc;
}

#search-bar{
    height: 50px;
    background-color: #fafafa;
}

#chat{
    height: calc(90vh - 210px);
    background-color: white;
    overflow-y: scroll;
}


/* Right Side */

.right-side header{
    height: 80px;
    background-color: #eaeaea;
}

.right-side p{
    font-size: 0.8rem;
    margin: 0;
}


/* Section Conversartion */
#conversation-box{
    height: calc(90vh - 150px);
    background-image: url(../img/mine.jpg);
    overflow-y: scroll;

}


/* Section Send */
#send-message{
    height: 70px;
    background-color: #f3eeea;
}

.form-control{
    padding: 12px
}

#send-message i{
    font-size: 25px;
    margin: 0 20px;
    color: #6b7376;
}